@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

body {
  font-family: 'NanumSquare', sans-serif;
}

h1 {
  padding-bottom: 8px;
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;;
}

h5 {
  font-size: 18px;;
}

h6 {
  font-size: 17px;
}

p.larger {
  font-size: 16px;
}

p.large {
  font-size: 15px;
}

p.normal {
  font-size: 14px;;
}

p.medium {
  font-size: 13px;
}

p.small {
  font-size: 12px;;
}

p.tiny {
  font-size: 11px;
}
