body {
  margin: 0;
  padding: 0;
  line-height: 3em;
  letter-spacing: -.3px;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}

input {
  font-family: inherit, sans-serif;
}

.container {
  /*position: relative;
  width: 70%;*/
  margin: 60px auto;
}

.head {
  width: 80%;
  margin-left: 10%;
}

h1.headline {
  float:left;
  width:400px;
  font-size: 22px;
  margin-bottom: 20px;
}

.input {
  float: right;
  width: 200px;
}


.text, .numbntext, .price {
  padding: 50px 0;
  padding-left: 10%;
}

.text {
  background: #eee;
}

.numbntext {
  background: yellow;
}

.price {
  background: black;
  color: white;
}

/*#text-reg {
  display: none;
}

#text-bald {
  display: block;
}*/


/*.button {
  display: block;
  float: left;
  margin-right: 10px;
  width: 80px;
  height: 36px;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  background: white;
  cursor: pointer;
}

.button:hover {
  display: block;
  width: 80px;
  height: 36px;
  background: #000;
  color: #fff;
}

.input:checked + .button {
  background: #ccc;
  color: #444;
}*/


/*div {
  height: 100vh;
}*/

.reg *  {
  font-weight: 400;
}

.bold * {
  font-weight: 700;
}

/*.content {
  display: none;
  order: 99;
}*/


#text-reg, #numbntext-reg, #price-reg {
  width: 720px;
  margin-right: 280px;
  margin-bottom: 40px;
}

.col {
  float: left;

  }

.tabs {
  display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	background: #efefef;
	box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}

.input:checked + .button + .content {
  display: block;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.ch {
  font-family: inherit, sans-serif;
}
