/** import 영역 **/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body { /** 폰트 영문 이름 지정 **/
 font-family: 'Noto Sans KR', sans-serif;
}

/** 이하는 공통 **/
.normal {
 font-style: normal;
}

.w100 {
 font-weight: 100;
}

.w300 {
 font-weight: 300;
}

.w350 {
 font-weight: 350;
}

.w400 {
 font-weight: 400;
}

.w500 {
 font-weight: 500;
}

.w700 {
 font-weight: 700;
}

.w800 {
 font-weight: 800;
}

.w900 {
 font-weight: 900;
}
