/*@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);*/
@import url('https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

/*****
Thin 100
Light 300
DemiLight 350
Regular 400
Medium 500
Bold 700
Black 900
*****/

body {
  font-family: 'Lato','Noto Sans Korean', sans-serif;
}

/*** Font size SETTINGS ***/

h1 {
  padding-bottom: 8px;
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;;
}

h5 {
  font-size: 18px;;
}

h6 {
  font-size: 17px;
}

p.larger {
  font-size: 16px;
}

p.large {
  font-size: 15px;
}

p.normal {
  font-size: 14px;;
}

p.medium {
  font-size: 13px;
}

p.small {
  font-size: 12px;;
}

p.tiny {
  font-size: 11px;
}
