body {
  margin: 0;
  padding: 0;
  line-height: 3em;
  letter-spacing: -.3px;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}

input {
  font-family: inherit, sans-serif;
}

.container {
  width: 100%;
}

.headline, .font-test, .text div, .main-btns, .sub-btns, .sub-title, footer{
  box-sizing: border-box;
  padding: 0 10%;
}

.font-test textarea{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #dedfdf;
  font-size: 16px;
  margin-bottom: 20px;
}
.text div{
  padding-top: 50px;
  padding-bottom: 50px; 
}
.text div:nth-of-type(1){
  background: #eee;
}

.text div:nth-of-type(2){
  background: yellow;
}

.text div:nth-of-type(3){
  background: black;
  color: white;
}

.reg *  {
  font-weight: 400;
}

.bold * {
  font-weight: 700;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}
.headline{
  font-size: 60px;
  text-decoration: underline;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title, .sub-title {
  box-sizing: border-box;
  padding: 0 10%;
  margin-bottom: 20px;
}

.main-btns, .sub-btns{
  list-style: none;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #dedfdf;
  border-bottom: 1px solid #dedfdf;
}
.main-btns li, .sub-btns li{
  float: left;
  margin-right: 30px;
  line-height: 1.4em;
}
.main-btns button, .sub-btns button{
  padding: 0;
  border: 0 none;
  line-height: 1.4em;
  font-size: 20px;
  background: none;
  vertical-align: baseline;
  color: #181818;
}
.main-btns button:hover, .sub-btns button:hover{
  text-decoration: underline;
  color: pink;
}
.main-btns button:focus, .sub-btns button:focus{
  outline: 1px dotted pink;
}
.main-btns button::before, .sub-btns button::before{
  content: '>';
  width: 10px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
  font-size: 0.7em;
}
.main-btns button.active, .sub-btns button.active{
  text-decoration: underline;
  color: pink;
}
.main-btns button.active::before, .sub-btns button.active::before{
  content: '✓';
}


.sub-btns button, .sub-title{
  text-transform: uppercase;
}
.sub-btns button{
  font-size: 16px;
}

.sub-title{
  font-size: 30px;
}

footer{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}